<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Node.js Workshop – Blog System</title>
    <style>
        .tabletest2 {
            border-collapse: collapse;
            font-size: 15px;
            margin-bottom: 40px;
            margin-top: 20px;
            width: 100%;
        }

        .tabletest2, .tabletest2 th, .tabletest2 td {
            border-bottom: 1px solid #ddd;
            padding: 8px;
            text-align: left;
        }

        table.tabletest2 tbody tr.deleted td {
            text-decoration: line-through;
            color: #999;
        }

        .error {
            color: red;
        }
    </style>
</head>
<body>
<h2>Node.js Workshop – Blog System</h2>
<h4><a href="/">Home</a> | <a href="/create">Create New Article</a> | <a href="/all">View All Articles</a></h4>


